<h1 class="text-light">Nueva Pelicula</h1>
<p class="text-light">Llena los campos para ingresar una nueva pelicula.</p>
<%= form_with model: @movie, url: movies_new_post_path, method: :post, class: "form" do |form| %>
  <div class="form-group">
    <%= form.label :name, "Nombre Pelicula", class: "control-label text-light" %>
    <%= form.text_field :name, class: "form-control bg-input" %>
  </div>
  <div class="form-group my-3">
    <%= form.label :synopsis, "Synopsis Pelicula", class: "control-label text-light" %>
    <%= form.text_area :synopsis, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :director, "Nombre Director", class: "control-label text-light" %>
    <%= form.text_field :director, class: "form-control" %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
